.container{
    margin: 0 auto;
}
.header{
    @include d-flex;
    @include jcsb;
}
@include phone{
    .header{
        color: turquoise;
    }
}
.box{
    width: 460px;
    @include d-flex;
    @include jcsb;
}
.menu{
    @include d-flex;
    align-items: center;
}
.menu p{
    font-size: $fs-20;
    line-height: 20px;
    padding-left: 3px;
    color: $gray;
}    
.slogan{
    @include m-auto;
    width: 1920px;
    @include relative;
}
.box1{
    width: 445px;
    @include absolute;
    left: 1070px;
    top: 295px;
}